/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #d74343;
}

.reveal a:hover {
  color: #d74343;
}

.reveal .slides > section.ddd-intro  {
  padding-left: 4em;
  text-align: left;
}

section.ddd-intro h1 {
  position: absolute;
  top: -200px;
  font-size: 1.5em;
}

section.ddd-intro h2 {
  position: absolute;
  top: 60px;
  font-size: 0.8em;
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}
section.ddd-intro h2:before {
  content: "";
  width: 65px;
  height: 8px;
  background: #C21426;
  position: absolute;
  top: -50px;
}

footer .branding--logo {
  display: inline-block;
  float: left;
  margin-left: 1em;
  font-size: 0.5em;
  position: absolute;
  bottom: 0em;
}
footer .logo__image {
  display: inline-block;
  vertical-align: middle;
}
footer .logo__site-name {
  display: inline-block;
}

footer .session--info {
  display: inline-block;
  float: right;
  font-size: 0.5em;
  position: absolute;
  bottom: 0em;
  right: 5em;
}
footer .session__title, footer .session__presenter {
  display: inline-block; 
}

